<div class="col-xl-12 product_table my-3 container">
    <table class="w-100">
        <thead>
            <th>Product Name</th>
            <th>Product Weight</th>
            <th>Price</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of allprdts | paginate: { itemsPerPage: 10, currentPage: p } | filter : searchedProduct | sortBy : sortByOption">
                <td>
                    {{item.product_name}}
                </td>
                <td>
                    {{item.product_weight}}
                </td>
                <td>
                    {{item.product_price}}
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="addToCart(item.p_id,1,'')">Add to Cart</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-right" *ngIf="allprdts?.length>0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>